extends layout

block content
  h2 Register as Donor
  - if ('undefined' !== typeof errors && errors.length)
    ul#errors
      - each error in errors
        li.error= error
  form(action='/register/donor', method='POST')
    #first-name
      input(type='text', name='first_name', placeholder='First Name')
    #last-name
      input(type='text', name='last_name', placeholder='Last Name')
    #email
      input(type='text', name='email', placeholder='Email')
    #phone
      input(type='text', name='phone', placeholder='Phone Number')
    br
    #password
      input(type='password', name='password', placeholder='Password')
    #password_r
      input(type='password', name='password_r', placeholder='Repeat password')
    #submit
      input(type='submit') Register